.title {
  color: white;
  text-decoration: none;

  & h1 {
    font-size: 1em;
    font-weight: 400;
    color: inherit;
    margin: 0 0 1em;
  }
}

.htmlContent {
  text-align: justify;
  
  & a {
    color: inherit;
    text-decoration: underline;
  }

  & img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
