.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 1rem 0;
}

.title {
  margin: 4rem 0;
  font-size: 1.4rem;
  text-align: center;
}

.link {
  color: inherit;
}
