.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.contentContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 2.4rem;
  left: 0;
  padding: 1em;
  overflow: hidden;
  z-index: 1;
}

.footerContainer {
  z-index: 2;
  height: 2.4rem;
  padding: 0 1em 1em;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.readMore {
  transition: all 0.4s ease-out;
  padding: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--colLink);
  background-image:
    linear-gradient(
      to bottom,
      color(var(--colContentBack) a(0)),
      color(var(--colContentBack) a(1))
    );

  &:hover {
    color: white;
  }
}
