.wrapper {
  width: 100%;
  cursor: pointer;

  & > img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

:global(.ril-toolbar),
:global(.ril-caption),
:global(.ril-next-button),
:global(.ril-prev-button) {
  background-color: transparent;
  z-index: 4 !important;
}

:global(.ril-next-button),
:global(.ril-prev-button) {
  transform: scale(0.8);

  &:focus,
  &:active {
    outline: none;
  }
}

:global(.ril-caption),
:global(.ril-caption-content) {
  width: 100%;
  text-align: center;
}

:global(.ril-zoom-in),
:global(.ril-zoom-out) {
  display: none;
}

// ios 8 compat

:global(.ril-image-next),
:global(.ril-image-prev),
:global(.ril-image-current) {
  display: block;
}

:global(.ril-image-next),
:global(.ril-image-prev) {
  z-index: 0 !important;
  opacity: 0 !important;
}

:global(.ril-image-current) {
  z-index: 2 !important;
}
